<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <span style="color: #EF9C01"> <h1 class="display-4">Wycieczki Sunshine</h1> </span>
            <p class="lead">
              Organizujemy wycieczki do najciekawszych miejsc na świecie.  Firma Sunshine istnieje od 2005 roku.
              Mamy wielu zadowolonych klientów, którzy chętnie z nami podróżują. Co roku staramy się wzbogacać ofertę naszych wycieczek.
              Jesteśmy otwarci na nowe przygody i wyzwania. Zapraszamy do skorzystania z naszych usług i bliższego poznania naszej firmy.
            </p>
            <hr class="my-4">
            <p></p>
            <a class="btn btn-primary btn-lg" href="#"  role="button" [routerLink]="['/products']">Sprawdź</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
      <video src="https://guam.wsi.edu.pl/share/x47b.mp4" type="video/mp4"
             [autoplay]="true" [muted]="true" [loop]="true" playsinline>
      </video>
  </div>
</div>

